body{
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.385), rgba(0, 0, 0, 0.385)), url('../images/register_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 100%;

}
#left, #center, #right{
    position: absolute;
}
#left{
    text-align: left;
    z-index: 1;
}
#right{
    text-align: right;
    z-index: 2;
}
#center{
    transform: translate(0%, -5%);
    margin: 0% 0% 0% 25%;
    text-align: center;
    width: 50%;
    top: 5%;
    background-color: white;
    height: 100%;
    font-family: Bebas Neue;
}
.center_image{
    width: 18%;
    height: auto;
}
input[type=text],[type=password],[type=email]{
    width: 49%;
    height: 5.2%;
    margin-top: 30px;
    border-radius: 50px;
    font-family: Bebas Neue;
    font-size: 1.4rem;
    padding-left: 55px;
    border: 0;
    background-color: rgb(242, 242, 242);
    outline: none;
    color: rgb(150, 150, 150);
}
::placeholder{
    color: rgb(150, 150, 150)
}
.user_input_ico{
    position: absolute;
    height: 5.5%;
    padding-top: 38px;
    padding-left: 15px;
}
ul {
    list-style-type: none;
    transform: translate(-2%, 0%);
}
.footer{
    transform: translate(0%, -100%)
}