<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    </head>
    <body>
        <header>
            <div class='cust_header'>
                <a href="/admin"><img class="center_image" src="../static/images/logo.png"></a>
            </div>
            <div class="main">
                <ul>
                    <li><a href="/userdata">User Data</a></li>
                    <li><a href="#">Chef's Data</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </header>
    </body>
</html>