<head>
    <link rel="stylesheet" type="text/css" href="../static/css/customer.css">
</head>
{% extends "customer_header.html" %}
{% block content %}
    </br></br></br></br></br></br></br>
    <form method="post" action="" enctype="multipart/form-data">
        <table class="info-table">
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr class='tr-tb-dta'>
                <th colspan="2">
                    <p class='form_data'><img src="../static/images/profile_bg.png" class="img"></p>
                </th>
            </tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr class='tr-tb-dta'>
                <td>
                    <p class='form_data'>Name </p>
                </td>
                <td>
                    <input type="text" value="{{data[0][1]}}" name="NAME" disabled>
                </td>
            </tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr class='tr-tb-dta'>
                <td>
                    <p class='form_data'>EMAIL-ID</p>
                </td>
                <td>
                    <input type="text" value="{{data[0][2]}}" name="emailid" disabled>
                </td>
            </tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr class='tr-tb-dta'>
                <td>
                    <p class='form_data'>ADDRESS</p>
                </td>
                <td>
                    {% if data[0][3] == '' %}
                        <input type="text" value="" name="address">
                    {% else %}
                        <input type="text" value="{{data[0][3]}}" name="address">
                    {% endif %}
                </td>
            </tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr class='tr-tb-dta'>
                <td>
                    <p class='form_data'>PHONE</p>
                </td>
                <td>
                    {% if data[0][3] == '' %}
                        <input type="number" value="" name="phone">
                    {% else %}
                        <input type="number" value="{{data[0][4]}}" name="phone">
                    {% endif %}
                </td>
            </tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr class='tr-tb-dta'>
                <td>
                    <p class='form_data'>DOB</p>
                </td>
                <td>
                    <input type="date" value="{{data[0][6]}}" name="dob">
                </td>
            </tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr class='tr-tb-dta'>
                <td colspan="2">
                    {% if data[0][7] == 'Not-Verified' %}
                        <!-- <p class="message" style="color: red;">Document already submitted for KYC &nbsp;<img src="../static/images/info.png" style="width:5%;"></p> -->
                        <table class="table_info">
                            <tr>
                                <th><img src="../static/" class='info'></th>
                                <th><p class="message" style="color: #008FFF;">Document Submitted</p></th>
                            </tr>
                        </table>
                    {% elif data[0][7] == 'Verified' %}
                        <!-- <div class='information'><img src="../static/images/check.png">Document Verified &nbsp;</p></div> -->
                        <table class="table_check">
                            <tr>
                                <th><img src="../static/images/check.png" class='check'></th>
                                <th><p class="message" style="color: #28C300;">Document Verified</p></th>
                            </tr>
                        </table>
                    {% else %}
                        <p class='form_data'>Upload Document for KYC : <input type="file" class="upload-box" name="document_kyc"></p>
                    {% endif %}
                </td>
            </tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr class='tr-tb-dta'>
                <td colspan="2">
                    <p class='form_data'><input type="Submit" value="Save Changes"></p>
                </td>
            </tr>
        </table>
    </form>
{% endblock content%}