<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/message.css">
        <link rel="stylesheet" type="text/css" href="../static/css/customer_header.css">
        <style>
        </style>
    </head>
    <body>
        <header>
            <div class='cust_header'>
                <a href="/customer"><img class="center_image" src="../static/"></a>
            </div>
            <div class="main">
                <ul>
                    {% if title == 'Customer' %}
                        <li><a href="/customer" class="active">Profile</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/customer">Profile</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>