<html>
    <head>
       <link rel="stylesheet" href="../static/css/layout.css">
    </head>
    <body>
        <header>
            <div class='cust_header'>
                <a href="/home"><img class="center_image" src="../static/images/logo.png"></a>
            </div>
            <div class="main">
                <ul>
                    {% if title == 'Menu' %}
                        <li><a href="/menu" class='active'>Menu</a></li>
                        <li><a href="/login">Profile</a></li>
                        <li><a href="/login">Wallet</a></li>
                        <li><a href="/login">Login</a></li>
                    {% else %}
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/login">Profile</a></li>
                        <li><a href="/login">Wallet</a></li>
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>