 <html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/message.css">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    </head>
    <body>
    
        <div id="center">
            </br></br></br></br></br></br></br></br></br></br>
            <a href="/home"><img class="center_image" src="../static/images/login.png"></a>
            </br>
            {% for message in get_flashed_messages() %}
            <table class="table_error">
                <tr>
                    <th><img src="../static/images/error.png" class='error'></th>
                    <th><p class="message" style="color: #FF5440;">{{ message }}</p></th>
                </tr>
              </table>
            {% endfor %}
            <form method="POST" action="">
                <ul>
                    <li>
                        <img src="../static/images/user.png" class="user_input_ico">
                        <input type="text" placeholder="EMAIL-ID" name="emailid">
                    </li>
                    <li>
                        <span id="emailIdMsg" class="badge displayBadge" style="color: red">
                         </span>
                    </li>              
                    <li>
                        <img src="../static/images/lock.png" class="user_input_ico">
                        <input type="password" placeholder="PASSWORD" name="password">
                    </li>
                    </br>  
                    <li>
                        <input type="image" src="../static/images/next.png" alt='Submit' width="22%">
                    </li>
                </ul>
            </form>
            <p style="color: rgb(200, 200, 200); font-family: Raleway; font-size: 1.6rem;">
                <a href="#" style="color: rgb(150, 150, 150); text-decoration: none;">Forgot Password? </a>
                </br>
                Create an account? <a href="/register" style="color: rgb(150, 150, 150); text-decoration: none;">register</a>
            </p>
            </br>   
        </div>
        <script src="../static/scripts/register.js"></script>
    </body>
</html>