
<head>
    <link rel="stylesheet" type="text/css" href="/css/cart.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
{% if session.get('id') == None %}
    {% extends "main_header.html" %}
{% else %}
    {% extends "customer_header.html" %}
{% endif %}
{% block content %}
</br></br></br></br></br>

{% for i in range(products|length) %}
    {% if (i == 0)  %}
    <p class="category">{{ products[i][3].upper() }}</p>
    {% elif products[i][3] != products[i-1][3] %}
    <p class="category">{{ products[i][3].upper() }}</p>
    {% endif %}
    <div class="column left">
        <p class="dish" id="dish_{{products[i][0]}}">{{ products[i][1] }}</p>
        <img src="/images/{{ products[i][2] }}" class="img" id="image_{{products[i][0]}}">
        <p class="discription">{{ products[i][5] }}</p>
        </br>
        <p class="price" id="price_{{products[i][0]}}">Price: {{ products[i][4] }}Rs</p>
        </br>
        <p>
        <div class='pm-div'>
            <button class="sub_add cd-add-to-cart js-cd-add-to-cart" id="subtract_{{products[i][0]}}">-</button>
            <input type="number" value="0" id="qty_{{products[i][0]}}">
            <button class="sub_add cd-add-to-cart js-cd-add-to-cart" id="add_{{products[i][0]}}" onclick="js_fn('{{products[i][1]}}', '{{products[i][4]}}', '{{products[i][2]}}')">+</button>
        </div>
        </p>
    </div>
{% endfor %}
</br>
</br>
<a href="#0" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99">Add To Cart</a>
<div class="cd-cart cd-cart--empty js-cd-cart">
    <a href="#0" class="cd-cart__trigger text-replace">
        Cart
        <ul class="cd-cart__count"> <!-- cart items count -->
            <li>0</li>
            <li>0</li>
        </ul> <!-- .cd-cart__count -->
    </a>

    <div class="cd-cart__content">
        <div class="cd-cart__layout">
            <header class="cd-cart__header">
                <h2>Cart</h2>
                <span class="cd-cart__undo">Item removed. <a href="#0">Undo</a></span>
            </header>

            <div class="cd-cart__body">
                <ul>
                    <!-- products added to the cart will be inserted here using JavaScript -->
                </ul>
            </div>

            <footer class="cd-cart__footer">
                <a href="#0" class="cd-cart__checkout">
                    <em>Checkout - Rupees <span id="totalAmt">0</span>
                        <!--<svg class="icon icon--sm" viewBox="0 0 24 24"><g fill="none" stroke="currentColor"><line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12"/><polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 "/></g>
                        </svg>-->
                    </em>
                </a>
            </footer>
        </div>
    </div> <!-- .cd-cart__content -->
</div> <!-- cd-cart -->

<script>
    var dish, price, image, qty
    function js_fn(n, p, i) {
        dish = n;
        price = p;
        image = i;
    }
    var id
    const subtractBtns = document.querySelectorAll('button[id^=subtract]')
    subtractBtns.forEach(btn => {
        btn.addEventListener('click', event => {
            qtyId = 'qty_'+ event.target.id.split("_").pop()
            const currentValue = Number(document.getElementById(qtyId).value) || 0;
            if (currentValue ==0 ){
                document.getElementById(qtyId).value = 0
            }else{
                document.getElementById(qtyId).value = currentValue - 1;
            }
        });
    });
    const addBtns = document.querySelectorAll('button[id^=add]')
    addBtns.forEach(btn => {
        btn.addEventListener('click', event => {
            qtyId = 'qty_'+ event.target.id.split("_").pop();
            var currentValue = Number(document.getElementById(qtyId).value) || 0;
            currentValue = currentValue + 1
            document.getElementById(qtyId).value = currentValue;
            qty = currentValue
            id = event.target.id.split("_").pop()
        });
    });
    function cartSubButton(cartSubId)
    {
        cartQtyId = 'cart_qty_'+ cartSubId.split("_").pop()
        qtyId = 'qty_'+ cartSubId.split("_").pop()
        const currentValue = Number(document.getElementById(cartQtyId).value) || 0;
        if (currentValue ==1 ){
            document.getElementById(cartQtyId).value = 1
            document.getElementById(qtyId).value = 1;
        }else{
            document.getElementById(cartQtyId).value = currentValue - 1;
            document.getElementById(qtyId).value = currentValue -1;
            document.getElementById('totalAmt').textContent = parseInt(document.getElementById('totalAmt').textContent)-parseInt(price)
        }
    }
    function cartAddButton(cartAddId)
    {
        cartQtyId = 'cart_qty_'+ cartAddId.split("_").pop()
        qtyId = 'qty_'+ cartAddId.split("_").pop()
        var currentValue = Number(document.getElementById(cartQtyId).value) || 0;
        currentValue = currentValue + 1
        document.getElementById(cartQtyId).value = currentValue;
        document.getElementById(qtyId).value = currentValue;
        document.getElementById('totalAmt').textContent = parseInt(document.getElementById('totalAmt').textContent)+parseInt(price);
    }
</script>
<script src="{{ url_for('static', filename='/scripts/util.js') }}"></script> <!-- util functions included in the CodyHouse framework -->
<script src="{{ url_for('static', filename='/scripts/main.js') }}"></script>
{% endblock content%}