<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/menu.css">
    </head>
    <body>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Menu
                    &nbsp;&nbsp;<i style="font-size:24px" class="fa">&#xf107;</i> 
                </button>
                <div class="dropdown-content">
                  <a href="#">Idli</a>
                  <a href="#">Dosa</a>
                  <a href="#">Mendu Vada</a>
                </div>
              </div> 
            <a href="/login">Login</a>
            <a href="#">Starter</a>
            <a href="#">Mains</a>
          </div>
        <p class="mains">Mains</p>
        <p class="t_description">The description will be typed here.</p>
        <div id="row">
            {%for i in range(0,2) %}
            <div class="column left">
                <p class="dish">This is your Dish Name</p>
                <p class="discription">This is the dish description, include ingredients and spices to add.</p>
                <p><img src="../static/images/login_bg.jpg" class="img"></p>
                </br>
                <p class="price">Price: 14$</p>
                </br>
                <p><a href="#" class="info_click">Get Info!</a></p>
            </div>
            {% if i != 1 %}
            <div class="column">
                <p class="dish">This is your Dish Name</p>
                <p class="discription">This is the dish description, include ingredients and spices to add.</p>
                <p><img src="../static/images/register_bg.jpg" class="img"></p>
                </br>
                <p class="price">Price: 10$</p>
                </br>
                <p><a href="#" class="info_click">Get Info!</a></p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <p class="starter">Starter</p>
        <p class="t_description">The description will be typed here.</p>
        <div id="row1">
            {%for i in range(0,2) %}
            <div class="column left">
                <p class="dish">This is your Dish Name</p>
                <p class="discription">This is the dish description, include ingredients and spices to add.</p>
                <p><img src="../static/images/login_bg.jpg" class="img"></p>
                </br>
                <p class="price">Price: 14$</p>
                </br>
                <p><a href="#" class="info_click">Get Info!</a></p>
            </div>
            {% if i != 1 %}
            <div class="column">
                <p class="dish">This is your Dish Name</p>
                <p class="discription">This is the dish description, include ingredients and spices to add.</p>
                <p><img src="../static/images/register_bg.jpg" class="img"></p>
                </br>
                <p class="price">Price: 10$</p>
                </br>
                <p><a href="#" class="info_click">Get Info!</a></p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </body>
</html>