<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
{% if session.get('id') == None %}
{% extends "main_header.html" %}
{% else %}
{% extends "customer_header.html" %}
{% endif %}
{% block content %}
</br></br></br></br></br>
{% for i in range(data|length) %}
    {% if (i == 0)  %}
        <p class="category">ORDER {{ data[i][1] }}</p>
    {% elif data[i][1] != data[i-1][1] %}
        <p class="category">ORDER {{ data[i][1] }}</p>
    {% endif %}

<div class="column left">
    <p class="dish">{{ data[i][4] }}</p>
    <img src="/images/{{ data[i][5] }}" class="img" >
    <p class="discription">{{ data[i][6] }}</p>
    </br>
    <p class="price">Price: Rs {{ data[i][7] }}</p>
    <p class="price">Qty: {{ data[i][3] }}</p>
    </br>
</div>

{% endfor %}

</br>
</br>
</html>
{% endblock content%}
