 <html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/message.css">
        <link rel="stylesheet" type="text/css" href="../static/css/register.css">
    </head>
    <body>
    
        <div id="center">
            </br></br></br>
            <a href="/home"><img class="center_image" src="../static/images/register.png"></a>
            </br>
            {% for message in get_flashed_messages() %}
            <table class="table_error">
                <tr>
                    <th><img src="../static/images/error.png" class='error'></th>
                    <th><p class="message" style="color: #FF5440;">{{ message }}</p></th>
                </tr>
              </table>
            {% endfor %}
            <form method="POST" action="">
                <ul>
                    <li>
                        <img src="../static/images/user.png" class="user_input_ico">
                        <input type="text" placeholder="NAME" name="name">
                    </li>
                    <li>
                        <span id="nameMsg" class="badge displayBadge" style="color: red"></span>
                    </li>
                    <li>
                        <img src="../static/images/email.png" class="user_input_ico">
                        <input type="email" placeholder="EMAIL-ID" name="emailid" id="emailId">
                    </li>
                    <li>
                        <span id="emailIdMsg" class="badge displayBadge" style="color: red"></span>
                    </li>
                    <li>
                        <img src="../static/images/lock.png" class="user_input_ico">
                        <input type="password" placeholder="PASSWORD" name="password" id="password">
                    </li>
                    <li>
                        <span id="strength" class="badge displayBadge" style="color: grey">
                            Use 8 or more characters with a mix of letters, numbers & symbols
                        </span>
                    </li>
                    <li>
                        <img src="../static/images/lock.png" class="user_input_ico">
                        <input type="password" placeholder="CONFIRM PASSWORD" name="confirmpassword" id="confirmPassword">

                    </li>
                    <li>
                        <span id="confirmPasswordMsg" class="badge displayBadge" style="color: red">
                        </span>
                    </li>
                    </br>
                    <li>
                        <input type="image" src="../static/images/next.png" alt='Submit' width="22%" id="submit">
                    </li>
                </ul>
            </form>
            <p style="color: rgb(200, 200, 200); font-family: Raleway; font-size: 1.6rem;" class='footer'>
                Already have an account? <a href="/login" style="color: rgb(150, 150, 150); text-decoration: none;">login</a>
            </p>
            </br>   
        </div>
        <script src="../static/scripts/register.js"></script>
    </body>
</html>